* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    background-color: rgb(224, 180, 98);
    padding: 10px;
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    background-color: rgb(245, 197, 85);
}

.img-pao{
    width: 650px;
    border-radius: 20px;
}

.pao-title {
    padding: 10px;
}